@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(36, 33, 33);

}

.navbar {
  background-color: rgb(41, 40, 40);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;


}

.navbar div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.left {
  color: white;
  padding: 10px 30px;
}

.left img {
  height: 50px;
}

.left>span {
  font-size: 22px;
}

.left>span span {
  font-weight: 200;
  color: rgba(255, 255, 255, 0.247);
  font-size: 16px;

}

.center {
  width: 40%;
  pad: 10px;
}


.search {
  background-color: rgb(55, 55, 55);
  width: 100%;
  border-radius: 5px;
}

.search input {
  outline: none;
  border: none;
  background-color: inherit;
  padding: 7px;
  color: #808080;
}

.center button {
  background-color: inherit;
  border: 1px solid #FFFFFF80;
  width: 130px;
  color: #808080;
  padding: 7px;
  font-size: 14px;
}

.right {
  display: flex;
  padding: 10px 30px;
  justify-content: space-evenly;
  width: 20%;
}

.right img {
  height: 30px;
}





/* -----------------info panel-------------------- */



.info-panel {
  display: flex;
  align-items: center;
  gap: 15vw;
  padding: 70px 40px;
}

.first {
  display: flex;
  background: #AB71F461;
  height: 250px;
  width: 450px;
  position: relative;

}

.info-panel>div img {
  transform: rotateZ(-3.5deg);
  height: 112%;
  position: absolute;
  left: -11px;
  bottom: -24px;
}

.info-panel>div div {
  margin: 10px 0;
  padding-left: 30px;
  position: absolute;
  width: 50%;
  right: 0;

}

.info-panel>div div span {
  font-size: 24px;
  font-weight: 600;
}

.info-panel div button {
  border: 1px solid #FFFFFF;
  background-color: inherit;
  width: 130px;
  height: 30px;
}

/* ---------Book info----------- */


.book-info {
  padding: 5% 4%;
  width: 92%;
  color: white;
}


.book-details {
  display: flex;
  background: #71C5F461;

  height: 250px;
  width: 100%;
  position: relative;

}

.book-info>div img {
  transform: rotateZ(-3.5deg);
  height: 112%;
  position: absolute;
  left: -11px;
  bottom: -24px;
}


.book-info p,
.auther {
  color: rgba(255, 255, 255, 0.486);
}

.book-info>div>div {
  margin: 10px 0;
  padding-left: 30px;
  position: absolute;
  width: 70%;
  right: 20px;

}

.book {
  display: flex;
  flex-direction: column;

}

.title {
  font-size: 24px;
  font-weight: 600;
}

.rating span {
  padding: 0 8px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.buttons {
  padding-top: 10px;
  display: flex;
  gap: 10px;
  align-self: flex-end;
}

.book-info div button {
  border: 1px solid #FFFFFF;
  background-color: inherit;
  width: 130px;
  height: 30px;
  color: white;
  align-self: flex-end;
}


/* ------------book container---------------- */


.book-container {
  padding: 30px 70px;
  display: flex;
  flex-flow: row wrap;
  gap: 100px;

}